# Public Domain for the Bitwarden Web UI
DOMAIN=https://bitwarden.kristianjones.dev

# Admin token used to access the Bitwarden Admin UI for stats and web based configuration
ADMIN_TOKEN=JKLFJSDJSKDLJH