CABOT_PLUGINS_ENABLED=cabot_alert_hipchat,cabot_alert_twilio,cabot_alert_email,cabot_alert_slack

DJANGO_SETTINGS_MODULE=cabot.settings



# It will still log to STDOUT
LOG_FILE=/dev/null

HTTP_USER_AGENT=Cabot

## Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
TIME_ZONE=America/Winnipeg

## Database
DATABASE_URL=postgres://postgres@cabotdb:5432/postgres
CELERY_BROKER_URL=amqp://guest:guest@cabotrabbitmq:5672//


## EMAIL
ADMIN_EMAIL=admin@example.com
CABOT_FROM_EMAIL=cabot@example.com

EMAIL_HOST=smtp.gmail.com
EMAIL_USER=********@gmail.com
EMAIL_PASSWORD=*********
EMAIL_PORT=587
EMAIL_USE_TLS=1

DJANGO_SECRET_KEY=<SET ME>

WWW_HTTP_HOST=cabot.kristianjones.dev
WWW_SCHEME=https

SLACK_ALERT_CHANNEL=monitoring
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/ABC/ABC/ABC
SLACK_ICON_URL=https://cabot.kristianjones.dev/static/arachnys/img/icon_48x48.b733b0a14763.png