# DigitalOcean API Token
DIGITAL_OCEAN_TOKEN=INSERT_TOKEN_HERE

# DigitalOcean Floating IP to automatically assign and reassign to the tagged droplets based on port response
FLOATING_IP=159.203.259.523

# Name of the Tag assigned to the droplets
DROPLET_TAG=pfSense